asgiref==3.8.1
backports-zoneinfo==0.2.1
certifi==2026.7.22
charset-normalizer==3.5.1
django==3.2.25
django-grip==3.5.2
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
gripcontrol==4.4.0
gunicorn==23.0.0
idna==3.15
markupsafe==2.1.5
packaging==26.2
psycopg2-binary==2.9.9
pubcontrol==3.5.0
pyjwt==2.9.0
pytz==2026.3.post1
requests==2.32.4
six==1.17.0
sqlparse==0.5.5
typing-extensions==4.13.2
urllib3==2.2.3
werkzeug==3.0.6
